@model Vada.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <br />
    <div class="form-group">
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <br />
    <div class="form-group">
        <label> Date of Birth  </label>
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>
    <br />
    <div class="chi-checkbox">
        <label>     @Html.CheckBoxFor(m => m.Customer.IsSubscribed)   Subscribed to Newsletter</label>
    </div>
    <br />
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}